<% include ../partials/header %>
<style media="screen">
   #Communitybtn {color:#fff;font-weight: bold;}
  ul {padding: 0;text-align: center;}
  /* Community Member Styles  */
  .item {
    display: inline-block;
    border: 2px solid #000;
    padding: 15px;
    font-size: 18px;
    color:#000;
    text-align: center;
    margin: auto;
    max-width: 210px;
    width: 100%;
    position: sticky;
  }
  .item a { color: #000; font-weight: bold;}
  .item img {
    width: 150px;
    height: 150px;
    display: block;
    border-bottom:1px solid #000;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}
@media screen and (max-width:1200px) {
  .wrapper{
    grid-template-columns: auto auto auto
  }
}
@media screen and (max-width:860px) {
  .wrapper{
    grid-template-columns: auto auto
  }
}
@media screen and (max-width:600px) {
  .wrapper{
    grid-template-columns: auto;
  }
}
.item {
  margin: 25px auto;
}
</style>
<% include ../partials/nav %>

<h3><%= title %> Community
</h3>

<p><%= users.length%> memebers in our community</p>

<div class="container text-center">

  <input autofocus style="width:100%;text-align:center;"type="text" id="myInput" onkeyup="myFunction()" name="search" required placeholder="Search community by member name.." class="form-control">

  <br>
  <a style="color:#000;" href="/user/community/all">Clear Search</a><br>
  <div class="text-center">
    <h3><%= errMsg %></h3>
  </div>
  <br>

  <div class="row">
    <ul class="wrapper" id="myUL">
      <% users.forEach(function(user){ %>
        <li class="item">
          <a href="/user/<%= user.username %>">
          <% if(user.avatar){ %>
            <img id="profilePic" src="<%= user.avatar %>" style="margin-top: 10px;width:180px;height:180px;" alt="">
          <%}else{ %>
            <img id="profilePic" src="/images/profile_avatar.png" style="margin-top: 10px;width:180px;height:180px;" alt="">
          <%}%>
            <% if(user.username.split(' ').length < 2){ %>
              <h3><%= user.username.charAt(0).toUpperCase() + user.username.slice(1).toLowerCase() %></h3>
            <% } else { %>
              <h3><%=
                user.username.split(' ')[0].charAt(0).toUpperCase()+ user.username.split(' ')[0].slice(1).toLowerCase()
                +' '+user.username.split(' ')[1].charAt(0).toUpperCase()+ user.username.split(' ')[1].slice(1).toLowerCase()
                %></h3>
            <% } %>
           </a>
        </li>
      <%})%>
    </ul>
  </div>

</div>
<script>
function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
<% include ../partials/footer %>
