<% include ../partials/header%>
<style media="screen">
  /* Member Settings Styles  */
  .picDisplay {
    margin: 40px auto;
    border: 3px solid #000;
    max-width: 500px;
    width: 100%;
    padding: 15px;
    background-color: #eee;
  }
  .picDisplay img {
    max-width: 300px;
    width: 100%;
    border: 1.5px solid #000;
    border-radius: 5px;
  }
</style>
<!--
upload profile photo
delete profile photo
change password
delete user account
-->
<% include ../partials/nav %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable" id="tabs-704485">
        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a style="color:#000;font-weight:bold;"class="nav-link" href="#tab1" data-toggle="tab">Profile Avatar</a>
          </li>
          <li class="nav-item">
            <a style="color:#000;font-weight:bold;"class="nav-link" href="#tab2" data-toggle="tab">Account Setting</a>
          </li>
          <li class="nav-item">
            <a style="color:#000;font-weight:bold;"class="nav-link" href="/user/<%= user.username %>">Back To Profile</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">

            <div class="text-center">
              <div class="picDisplay text-center">
                <% if(user.avatar){ %>
                  <p><i>Current Profile Photo</i> </p>
                  <img src="<%= user.avatar %>" class="img-fluid" alt="">
                <% }else { %>
                  <p><i>Default Profile Photo</i> </p>
                  <img style="padding:15px;" id="profilePic" src="/images/profile_avatar.png" alt="">
                <% } %>
              </div>
              <form style="margin:0 auto" action="/upload/avatar/new/<%= user.id %>" method="post" enctype="multipart/form-data">
                <div class="text-center form-group">
                  <input style="margin:10px  auto" type="file" id="image" name="image" accept="image/*" required>
                </div>
                <br>
                <button type="submit" class="btn btn-default rounded"><span class="glyphicon glyphicon-upload"></span> Photo Upload</button>
              </form>
              <form class="" action="/upload/remove/img/<%= user.id %>" method="post"><br>
                <button  class="btn btn-default rounded"type="submit" >Remove Photo</button>
              </form>
            </div>

          </div>
          <div class="tab-pane text-center" id="tab2">
            <br>
            <p>

                <div class="container">
                  <form class="CloseActForm" action="/user/<%= user.username %>/acct_cancel" method="post">
                    <div class="">
                      <h3></h3>
                      <button class="text-center btn btn-info rounded"type="button" data-toggle="collapse" data-target="#demo"><b>View Your Data Stored</b>  </button><br><br>
                      <div class="collapse text-center" id="demo">
                        <div style="max-width:300px; width:100%; margin:10px auto;" class=" pt-3 ">
                          <%= user %>
                        </div>
                      </div>

                    </div><br><br>
                    <button type="submit" data-toggle="tooltip" title="Are you sure? THIS IS PERMANENT!"class="btn btn-danger rounded pt-3">Close Account</button>
                  </form>
                </div>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer%>
