<% include ../partials/header %>

    <% include ../partials/nav %>


    <div class="text-center container lead">

        <div style=""class="box text-center" id="">

          <div class="" id="">
          <% if(entry.length > 0){ %>
            <div style="color:#000;" class="text-center  jumbotron">


              <h2><b><%= postTitle %></b> </h2>


            </div>
            <% entry.forEach(function(doc){ %>
              <div class="" >
                <p style="font-size: 18px;">Published:
                  <%= entry[0].date.toDateString() %> <br>
                  <i>By: <a style="color:#000;font-weight:bold;" href="/user/<%= entry[0].author %>"><%= name %></a> </i>
                 </p>
                <h3><b><%= postTitle %></b> </h3>
                  <p><%= doc.body %></p>
                  <br><br>
                  <% if( currentUser.id === doc.authorId) { %>

                    <form style="display: inline-block;" class="ctrl" action="/posts/delete/<%= doc.id %>" method="post">
                      <button class="btn"type="submit" data-toggle="tooltip" title="Are you sure ? This is permanent!">delete</button>
                    </form>

                    <form style="display: inline-block;" class="ctrl" action="/posts/update/<%= doc.id %>" method="post">
                      <button class="btn"type="submit">update</button>
                    </form>

                  <% }else{ %>

                    <form  style="display:inline-block;margin:10px;"class="voteForm up" action="/posts/<%= doc.id %>/vote/up" method="post">
                      <button type="submit"> <i class="fa fa-thumbs-up"></i>  <%= doc.upvotes.length %></button>
                    </form>
                    <form style="display:inline-block;margin:10px;" class="voteForm down" action="/posts/<%= doc.id %>/vote/down" method="post">
                      <button type="submit"> <i class="fa fa-thumbs-down"></i> <%= doc.downvotes.length %></button>
                    </form>
                  <% } %><hr>

                  <% if(doc.comments.length > 0) { %>
                    <h3><u>Comments</u> </h3>
                    <div class="userComments">
                      <ul><hr>
                        <% doc.comments.forEach(function(com){ %>
                          <li style="list-style:none;">
                            <div class="container ">
                              <div class="row text-center">
                                <div class="col-xs-6">
                                  <p><%= com.body %></p>
                                  <p style="font-size:15px;">
                                    By:
                                    <% if(com.commenterName.split(' ').length < 2){ %>
                                      <%= com.commenterName.charAt(0).toUpperCase() + com.commenterName.slice(1).toLowerCase() %>
                                    <% } else { %>
                                      <%=
                                        com.commenterName.split(' ')[0].charAt(0).toUpperCase()+ com.commenterName.split(' ')[0].slice(1).toLowerCase()
                                        +' '+com.commenterName.split(' ')[1].charAt(0).toUpperCase()+ com.commenterName.split(' ')[1].slice(1).toLowerCase()
                                        %>
                                    <% } %>
                                  </p>

                                </div>
                                <div class="col-xs-6">

                                  <i style="font-size:15px"><%= com.createdAt.toLocaleDateString() %></i>
                                </div>
                              </div>
                            </div>
                          </li><hr>

                        <%})%>
                      </ul>
                    </div>
                  <%}%>

                  <% if(user.id !== doc.authorId) { %>
                    <div class="commmentForm">
                      <br><br>
                      <form class="collapse" id="commentForm" role="form" action="/posts/<%= doc.id %>/comments" method="post">
                        <input required autofocus class="form-control" type="text" name="commentBody" placeholder="Comment here...."><br>
                        <button class="btn btn-inverse rounded"type="submit">Add Comment</button>
                        <a href="#" id="canComBtn" data-toggle="collapse" data-target="#commentForm">Canel</a>
                      </form>

                      <p><button type="button" id="comFormBtn" data-toggle="collapse" data-target="#commentForm"><i>Leave a comment</i></button>  </p>
                    </div>
                  <%} else {%>

                  <%}%>


              </div>
            <% }); %>

          <% } %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var commentFormBtn = document.getElementById('comFormBtn');
      var cancelComFormBtn = document.getElementById('canComBtn');

        commentFormBtn.addEventListener('click', function(){
          commentFormBtn.style.display = 'none';
        });
        cancelComFormBtn.addEventListener('click', function(e){
          e.preventDefault();
          commentFormBtn.style.display = 'inline';
        });
    </script>

<% include ../partials/footer %>
